<table id="table-book-th" class="table table-condensed">
  <tbody>
    <tr>
      <td class="col-md-2"><%= t ".name_user" %></td>
      <td class="col-md-4"><%= t ".comment_content" %></td>
      <td class="col-md-4"><%= t ".to_review" %></td>
      <td class="col-md-1"><%= t ".delete" %></td>
      <td class="col-md-1"><%= t ".view" %></td>
    </tr>
  </tbody>
</table>
<%= render "list_comment" %>
