<table id="table-book-th" class="table table-condensed">
  <tbody>
    <tr>
      <td class="col-md-4"><%= t ".Name_category" %></td>
      <td class="col-md-2"><%= t ".Number_book" %></td>
      <td class="col-md-1"><%= t ".delete" %></td>
      <td class="col-md-1"><%= t ".edit" %></td>
    </tr>
  </tbody>
</table>
<%= render "not_found" %>
<%= render "list_category" %>
